body{
	margin: 0;
	padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif;
}

button{
	background-color: #d4f7f2;
}

.main{
	display: flex;
}




.main-nav{

	position: fixed;
	display: flex;
	flex-flow: column;
    width: 20%;
    height: 100%;
	
}
.main-nav-header{
	color: blue;
	text-align: center;
}

.main-nav-menu{
	display: flex;
	flex-flow: column;
	background-color: #3b4c5d;

	padding: 0.3em;
	margin: 0.5em 0;

}



.nav-link{
		font-size: 1.5em;

	}


.nav-link{
	color: black;
	text-decoration: none;

	margin: 0;
}

.main-nav-button{
	width: 100%
}
.main-section{
	border: solid black 0.1em;
	margin:0.8em 0.8em 0.8em 0;
	padding: 0.5em;
	background-color: #eefdf8;
}
.main-section-code{
	background-color: #cbd6d8;
	margin: 1em 2em;
    padding: 1em;
    /*width: fit-content;*/
}
.main-article{
	width: 80%;
    margin-left: 20%;
}


 
@media ( max-width: 767px){
	.main{
		display: block;
	}
	.main-nav{
	position: relative;
	display: block;
	margin-bottom: 4em;
	width: auto;
	height: auto;
	
    }
	.main-nav-menu{
		position: fixed;
		flex-flow: initial;
		margin-top: -0.5em;
		width: 100%;
		padding-inline-start: 0;
		padding-inline-end: 0;
		
	}
	
	.nav-link{
		font-size: 1.2em;

	}

	.main-article{
	width: initial;
    margin-left: 0;
	}
	.main-section{
	margin: 0 0.8em;
	width: initial;

    }

}

@media (max-width: 400px) {
	
	.main{
		display: block;
	}
	.main-nav{
	position: relative;
	display: flex;
	margin-bottom: 0em;
	width: 100%;
	height: auto;
	
    }
	.main-nav-menu{
		position: relative;
		flex-flow: column;
		
		
	}
	
}

@media (max-width: 920px) {
	.main-nav-header{
		font-size: 70%; 
	}
	
}